<h1>PROFILE SETTINGS</h1>

<h2>EDIT</h2>

<form action="/process-profile-settings" method="POST">

  <label>Full Name
    <input type="text" value="{{currentUser.fullName}}" name="fullName">
  </label>
  <br>

  <label>Email
    <input type="email" value="{{currentUser.email}}" name="email">
  </label>
  <br>


  <label>Password
    <input type="password" value="password" name="userPassword">
  </label>
  <br>

  <label>
    <select value="{{currentUser.course}}" name="course">
      <option>Web Dev</option>
      <option>UX</option>
      <option>Teacher/TA</option>
      <option>Recruiter</option>
    </select>
  </label>
  <br>

  <label>Start Date
    <input type="text" value="{{currentUser.startDate}}" name="startDate" placeholder="August 2018">
  </label>
  <br>

  <button>SUBMIT</button>

</form>