<h1>PROFILE SETTINGS</h1>

<h2>EDIT</h2>

<form action="/process-profile-settings" method="POST">

  <label>Full Name
    <input type="text" name="fullName">
  </label>
  <br>

  <label>Email
    <input type="email" name="email">
  </label>
  <br>


  <label>Password
    <input type="password" name="userPassword">
  </label>
  <br>

  <label>
    <select name="course">
      <option>Web Dev</option>
      <option>UX</option>
      <option>Teacher/TA</option>
    </select>
  </label>
  <br>

  <label>Start Date
    <input type="text" name="startDate" placeholder="August 2018">
  </label>
  <br>

  <button>SUBMIT</button>

</form>