<h1>IDEA SETTINGS</h1>

<h3>EDIT IDEA</h3>

<form action="/process-idea-settings/{{ideaId}}" method="POST">
  <label>
    Name*:
    <input type="text" name="name" placeholder="Name of your idea" />
  </label>
  <br />

  <label>
    Description*:
    <input type="text" name="description" placeholder="Tell us about this amazing idea" />
  </label>
  <br />

  <label>
    Deadline:
    <input type="date" name="deadline" placeholder="What's your deadline" />
  </label>
  <br />

  <label>
    Picture URL:
    <input type="url" name="pictureUrl" placeholder="http://example.com" />
  </label>
  <br />

  <button>Save your idea</button>
</form>