<div class="main-wrapper-form">
  <h1 class="form-h1">Create your idea</h1>

  <form class="form" action="/process-idea" method="POST" enctype="multipart/form-data" />
    <div class="form-all-labels">
      <label class="form-label">
        Name*:
        <input class="form-input" type="text" name="name" placeholder="Name of your idea" />
      </label>

      <label class="form-label">
        Description*:
        <textarea class="form-textarea" name="description" placeholder="Tell us about this amazing idea"></textarea>
      </label>

      <label class="form-label">
        Deadline:
        <input class="form-input" type="date" name="deadline" placeholder="What's your deadline" />
      </label>

      <label class="form-label">
        Picture:
        <input class="form-input" type="file" name="pictureUpload" />
      </label>
    </div>
    <button class="form-button">Save your idea</button>
  </form>

</div>