<h1>PROJECTS AND IDEAS</h1>

{{>flash_messages}}


<div class="home-buttons">
  <a href="/ideas" class="home-button-text">IDEAS</a>
  <br>

  <a href="/add-idea">CREATE</a>
</div>


<div class="home-buttons">
  <a class="home-button-text" href="/projects">PROJECTS</a>
  <br>
  <a href="/add-project">CREATE</a>
</div>