<h1>PROJECTS AND IDEAS</h1>

{{>flash_messages}}

{{#if currentUser.isAdmin}}
<div>
  <p>You have X users to verify</p>
  <a href="/admin/non-verified-users"><button>Verify users</button></a>
</div>
{{/if}}

<div class="home-buttons home-button-text">
  <a href="/ideas">IDEAS</a>
  <br>

  <a href="/add-idea">CREATE</a>
</div>


<div class="home-buttons home-button-text">
  <a href="/projects">PROJECTS</a>
  <br>
  <a href="/add-project">CREATE</a>
</div>