{{>flash_messages}}
<h1>PROJECTS AND IDEAS</h1>




{{#if currentUser.isAdmin}}
<div class="verified-users">
  <p>You have {{userVerifiedNumber}} users to verify</p>
  <a href="/admin/non-verified-users"><button>VERIFY USERS</button></a>
</div>


{{else}}
<div class="non-verified-users"> </div>
{{/if}}




<div class="home-section">

  <div class="home-buttons home-button-text">
    <a href="/ideas"><button>IDEAS</button></a>
    <br>

    <a href="/add-idea"> <button>CREATE</button> </a>
  </div>


  <div class="home-buttons home-button-text">
    <a href="/projects"><button>PROJECTS</button></a>
    <br>
    <a href="/add-project"><button>CREATE</button></a>
  </div>
</div>