{{>flash_messages}}

<div class="home-wrapper">

  <h1 class="home-title">PROJECTS AND IDEAS</h1>


  {{#if currentUser.isAdmin}}
  <div class="admin-section">
    <p>You have {{userVerifiedNumber}} users to verify</p>
    <a href="/admin/non-verified-users"><button class="home-button">VERIFY USERS</button></a>
  </div>
  {{/if}}

  <div class="main-section">
    <div class="idea-section">
      <a href="/ideas"><button class="home-button">IDEAS</button></a>
      <br>

      <a href="/add-idea"> <button class="home-button">CREATE AN IDEA</button> </a>
    </div>


    <div class="idea-section">
      <a href="/projects"><button class="home-button">PROJECTS</button></a>
      <br>
      <a href="/add-project"><button class="home-button">CREATE A PROJECT</button></a>
    </div>
  </div>
</div>