<h1>PROJECTS AND IDEAS</h1>

{{>flash_messages}}


<div class="home-buttons home-button-text">
  <a href="/ideas">IDEAS</a>
  <br>

  <a href="/add-idea">CREATE</a>
</div>


<div class="home-buttons home-button-text">
  <a href="/projects">PROJECTS</a>
  <br>
  <a href="/add-project">CREATE</a>
</div>