<h1 id="title">Ironhack Project Sharer</h1>

{{>flash_messages}}

<section>
  <div class="login">
    <form action="/process-login" method="POST">

      <label>Email
        <br>
        <input type="email" name="email" placeholder="hello@me.com">
      </label>
      <br>

      <label>Password
        <br>
        <input type="password" name="userPassword" placeholder="enteryoursecret">
      </label>

      <br>
      <button>SUBMIT</button>

    </form>
  </div>
</section>