<h1>Ironhack Project Sharer</h1>

{{>flash_messages}}

<section>
  <form action="/process-login" method="POST">

    <label>Email
      <input type="email" name="email">
    </label>
    <br>

    <label>Password
      <input type="password" name="userPassword">
    </label>
    <br>

    <button>SUBMIT</button>

  </form>

</section>