{{>flash_messages}}

<div class="main-wrapper-form">
  <h1 class="form-h1 login">Ironhack Sharer</h1>

  <p class="form-p">Ironhack sharer is a tool designed to help UX/UI design students and web development students  communicate on their projects</p>
  
  
    <form class="form" action="/process-login" method="POST">
      <div class="form-all-labels">
      <label class="form-label">Email:
        <input class="form-input" type="email" name="email" placeholder="hello@me.com">
      </label>

      <label class="form-label">Password:
        <input class="form-input" type="password" name="userPassword" placeholder="enteryoursecret">
      </label>
      </div>

      <button class="form-button">SUBMIT</button>

    </form>
    <p>Don't have an account yet? <a class="link" href="/signup">Sign up here</a></p>
  </div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.1.0/themes/algolia-min.css">
<div id="searchResults">
  <div id="searchbox"></div>
  <div id="hits"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@3.32.0/dist/algoliasearchLite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@3.1.0/dist/instantsearch.production.min.js"></script>
<script>
// use their credentials of course
const searchClient = algoliasearch('B1G2GM9NG0', 'aadef574be1f9252bb48d4ea09b5cfe5');

const search = instantsearch({
  indexName: 'demo_ecommerce',
  searchClient,
});

search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#searchbox',
  })
);

search.addWidget(
  instantsearch.widgets.hits({
    container: '#hits',
    templates: {
      item: `
        <div>
          <img src="{{image}}" align="left" alt="{{name}}" />
          <div class="hit-name">
            {{!-- the backslash before the double brackets are becuase we use it in hbs --}}
            \{{#helpers.highlight}}{ "attribute": "name" }\{{/helpers.highlight}}
          </div>
          <div class="hit-description">
            \{{#helpers.highlight}}{ "attribute": "description" }\{{/helpers.highlight}}
          </div>
          <div class="hit-price">\${{price}}</div>
        </div>
      `,
    },
  })
);

search.start();
</script>

