<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>


  <header>


    <nav>
      <div>
        <a href="/home">IRONHACK PROJECT</a>
      </div>

      <div>
        {{#if currentUser.verified}}
        <b>Hi, {{currentUser.fullName}}</b>
        {{/if}}
      </div>

      <div>
        {{#if currentUser.verified}}
        <a href="/home">Home</a>
        <a href="/projects">Projects</a>
        <a href="/ideas">Ideas</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Log Out</a>

        {{#if currentUser.isAdmin}}
        <a href="/admin/users">User Management</a>
        {{/if}}
        {{else}}
        <a href="/">Login</a>
        <a href="/signup">Sign up</a>
        {{/if}}
      </div>
    </nav>
    <a href="#main-menu-toggle" class="backdrop" hidden></a>
  </header>

  {{{body}}}


  <footer>Made by Emmanuelle and Abi ❤️</footer>
  <script src="/javascripts/script.js"></script>
</body>

</html>