<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/emma-style.css" />
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>


  <header>


    <nav>
      <div class="logo">
        <a href="/home"><img src="https://pbs.twimg.com/profile_images/1031555260911939586/e01tx3UC_400x400.jpg" alt="Ironhack logo"></a>
        <p>SHARER</p>
      </div>

      <div>
        {{#if currentUser.verified}}
        <b>Hi, {{currentUser.fullName}}</b>
        {{/if}}
      </div>

      <div>
        {{#if currentUser.verified}}
        <a href="/home">Home</a>
        <a href="/projects">Projects</a>
        <a href="/ideas">Ideas</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Log Out</a>

        {{#if currentUser.isAdmin}}
        <a href="/admin/homepage">User Management</a>
        {{/if}}
        {{else}}

        <a href="/">Login</a>
        <a href="/signup">Sign up</a>
        {{/if}}
      </div>
    </nav>
    <a href="#main-menu-toggle" class="backdrop" hidden></a>
  </header>

  {{{body}}}


  <footer>
    <div class="logo-footer"><img src="https://static1.squarespace.com/static/56e2e0c520c6472a2586add2/t/594d23b7e6f2e1d4a11b69a3/1498231447084/" alt="Footer logo"><p>SHARER</p></div>
    <p>Made by <a href="https://www.linkedin.com/in/ejaldorau/">Emmanuelle</a> and
    <a href="https://www.linkedin.com/in/abisummers/">Abi</a> ❤️
    </p>
  </footer>
  <script src="/javascripts/script.js"></script>
</body>

</html>