<h1 class="project-list">Projects list</h1>


<div class="list-container">

  <ul class="ideas">
    {{#each projectArray}}
    <li class="project-list-layout">

      <h3>{{this.name}}</h3>
      <img src="{{this.picture}}" />
      <br>
      <a class="project-button" href="/projects/{{this._id}}"><button>See more</button></a>
    </li>


    {{/each}}


    <li class="idea-list-layout">

      <img src="/images/add.png" alt="">
      <br>
      <a class="idea-button" href="/add-idea"><button>ADD A PROJECT</button></a>
    </li>
  </ul>

</div>