<div class="main-wrapper-form">
  <h1 class="form-h1">Create your project</h1>

  <form class="form" action="/process-project" method="POST" enctype="multipart/form-data" / >
    <div class="form-all-labels">
      <label class="form-label">
        Name*:
        <input class="form-input" type="text" name="name" placeholder="Name of your project" />
      </label>

      <label class="form-label">
        Description*:
        <textarea class="form-textarea" name="description" placeholder="Tell us about this amazing project"></textarea>
      </label>

      <label class="form-label">
        Deadline:
        <input class="form-input" type="date" name="deadline" placeholder="What's your deadline" />
      </label>

      <label class="form-label">
        Picture:
        <input class="form-input" type="file" name="imageUpload" />
      </label>

      <label class="form-label">
        Link URL:
        <input class="form-input" type="url" name="linkUrl" placeholder="http://example.com" />
      </label>
    </div>
    <button class="form-button">Save your project</button>
  </form>
</div>