<h2>Add your project</h2>

<form action="/process-project" method="POST">
  <label>
    Name*:
    <input type="text" name="name" placeholder="Name of your project" />
  </label>
  <br />

  <label>
    Description*:
    <input type="text" name="description" placeholder="Tell us about this amazing project" />
  </label>
  <br />

  <label>
    Deadline:
    <input type="date" name="deadline" placeholder="What's your deadline" />
  </label>
  <br />

  <label>
    Picture URL:
    <input type="url" name="pictureUrl" placeholder="http://example.com" />
  </label>
  <br />

  <label>
    Link URL:
    <input type="url" name="linkUrl" placeholder="http://example.com" />
  </label>
  <br />

  <button>Save your project</button>
</form>