// BLUE COLOUR #2d62d7;

//------------------------------ MOBILE ----------------------------

//FORM PAGES---------------------------------------------------------------

.main-wrapper-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15%;
  // background-color: #7E7F80;
}


.form-h1 {
  margin: 15%;
  // color: #fff;
}

.form {
  width: 80%;
  padding: 4%;
  background-color: #fff;
  box-shadow: 0 0 3px #808080;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form-label, .form-button {
  display: block;
  margin-top:5%;
}

.form-input, .form-select, .form-textarea {
  width: 95%;
  padding: 5px 5px;
  border-radius: 5px;
}

.form-textarea {
  height: 5rem;
}

.form-button {
  margin: 15% 0 4%;
}

//DETAILED PAGES------------------------------------------------------

.detailed-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 5% 0;
  padding-top: 5%;
}

.detailed-main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10%;
  padding: 0 5%;
}

.detailed-main-image {
  height: 200px;
  margin: 5% 0;
  box-shadow: 0 0 3px #808080;
}

.detailed-main-text {
  margin-bottom: 10%;
}

.detailed-main-title {
  font-size: 18px; 
}

.detailed-main-description {
  text-align: justify; 
}

.detailed-main-author {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}

.detailed-main-author button {
  padding: 8px 20px;
}

.detailed-comments {
  border-top: 1px solid #CECECE;
  width: 100%;
}

.detailed-comments ul {
  padding: 0; 
}

.detailed-comments li {
  list-style-type: none; 
  margin: 10% 0;
}

.detailed-comments-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.detailed-comments-form > textarea {
  width: 98%;
  height: 5rem;
  margin: 5%;
}

.detailed-author-content {
  background-color: #2d354c;
  color: #fff;
  padding: 5%;
  text-align: center;
}

.detailed-author-content img {
  object-fit: cover;
  background: 50% 50% no-repeat;
  width: 150px;
  height: 150px;
}

.detailed-author-text {
  margin-bottom: 10%;
}

//PROFILE PAGE------------------------------------------------------

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.profile-information {
  box-shadow: 0 0 3px #808080;
  text-align: center;
  margin: 10% 0;
  width: 80%;
}

.profile-information > img {
  height: 150px;

}

.profile-other-information {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom:5%;
}

.profile-files {
  box-shadow: 0 0 3px #808080;
  width: 80%;
  margin-bottom: 10%;
  padding: 5%;
}

.profile-files h2,.profile-files p,.profile-files a  {
  text-align: center;
}

.profile-files li {
  list-style: none;
}


.profile-files a {
  text-decoration: none;
  color: #383838;
}

.profile-files a:hover {
  color: #32c3ff;
}

.profile-modifications {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

//button loses padding when applying flex.Why? 
.profile-modifications button {
  padding: 8px 20px;
}
//------------------------------ DESKTOP ----------------------------


@media (min-width: 450px) {

  .form-h1 {
    margin: 6%;
  }

  .form {
    width: 50%;
    padding: 4% 2%;
  }

  .form-all-labels {
    width: 80%
  }

  .form-button {
    margin: 10% 0 2%;
  }



//DETAILED PAGES------------------------------------------------------------

.detailed-content {
  flex-direction: row;
  align-items: stretch;
  margin: 1px 0 0;
  padding-top: 0;

}

.detailed-main-title {
  font-size: 25px; 
}

.detailed-main-content {
  width: 65%;
}

.detailed-comments li {
  margin: 5% 0;
}

.detailed-comments-form > textarea {
  margin: 2%;
}

.detailed-main-author {
  width: 30%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}

.detailed-author-content{
  width: 25%;
}


//PROFILE PAGE------------------------------------------------------

.profile-content {
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;;
  margin: 10% 0 5%;
}

.profile-information {
  width: 60%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-other-information {
  width: 30%;
  margin: 0;
}

.profile-idea {
  margin:0;
}
}
