// BLUE COLOUR #2d62d7;

//------------------------------ MOBILE ----------------------------

//FORM PAGES---------------------------------------------------------------

.main-wrapper-form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
}

//------------------------------ DESKTOP ----------------------------


@media (min-width: 450px) {


}
