//------------------------------ LAYOUT ----------------------------
//MOBILE FIRST

//to add burger menu on nav bar for mobile

//LOGIN PAGE (index.hbs) --------------

#title {
  margin-bottom: 50px;
}

.login {
  border: black 1px solid;
  margin-left: 20%;
  width: 60%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.login label {
  text-transform: uppercase;
}

.login input {
  border: grey 1px solid;
  margin-bottom: 15px;
  margin-top: 5px;
}

.login button {
  text-align: center;
  margin-bottom: 15px;
}

button {
  background-color: #32c3ff;
  color: white;
  font-weight: bold;
  padding: 1% 10%;
  border-radius: 5px;
}

//HOME PAGE -----------------------

.home-buttons,
.verified-users {
  text-align: center;
  border: 1px solid black;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 30px;
  padding: 20px 0;
}

.verified-users a > button,
.home-button-text a > button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #32c3ff;
  width: 50%;

  padding: 20px;
  margin: 30px 0;
}

.verified-users p {
  color: #383838;
}

//PROJECT AND IDEA LIST ------------

.idea-list,
.project-list {
  text-transform: uppercase;
  text-align: center;
}

.idea-list-layout,
.project-list-layout {
  padding-left: 0;
  border: black 1px solid;
  list-style-type: none;
  width: 30%;
  margin: 0 auto 4%;
}

.idea-list-layout h3,
.idea-list-layout a,
.project-list-layout h3,
.project-list-layout a {
  text-align: center;
}

.idea-list-layout img,
.project-list-layout img {
  object-fit: cover;
  background: 50% 50% no-repeat;
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
}

.idea-button > button,
.project-button > button {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.list-container {
  margin: auto;
  width: 90%;
}

.ideas {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.project-list-layout > div {
  flex: 1 1 200px;
}

@media (max-width: 600px) {
  .ideas {
    display: block;
    width: 90%;
  }
  .ideas > .project-list-layout,
  .ideas > .idea-list-layout {
    width: 80%;
  }
}

//-----------------------DESKTOP -------------------------

nav img {
  visibility: hidden;
}

@media (min-width: 450px) {
  nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 3px #32c3ff;
  }

  nav a,
  nav b {
    color: #383838;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 7px;
  }

  nav img {
    visibility: visible;
    object-fit: cover;
    height: 50px;
    border: none;
  }
  .logo {
    display: flex;
    color: #32c3ff;
  }
}
