//------------------------------ LAYOUT ----------------------------
//MOBILE FIRST

//to add burger menu on nav bar for mobile



//HOME PAGE -----------------------

.home-wrapper, .main-section  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.home-title {
  margin: 6% 0 10%;
}

.admin-section  {
  width: 80%;
  padding: 15% 5%;
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 0 8px #808080;
  background-color: #fff;
}

.main-section {
  width: 80%;
}

.idea-section, .project-section  {
  width: 100%;
  padding: 15% 5%;
  box-sizing: border-box;
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 8px #808080;
  background-color: #fff;
}

.home-button {
  min-width: 160px;
  min-height: 80px;
}


// .verified-users button:hover,
// .home-buttons > button:hover {
//   background-color: #1a2d41;
// }

// .home-buttons,
// .verified-users {
//   text-align: center;
//   box-shadow: 0 0 8px #808080;
//   width: 45%;
//   margin: auto;
//   margin-bottom: 30px;
//   padding: 20px 0;
// }

// .verified-users button,
// .home-button-text  button {
//   display: inline-block;
//   text-align: center;
//   text-decoration: none;
//   color: white;
//   background-color: #32c3ff;
//   width: 50%;
//   padding: 20px;
//   margin: 30px 0;
// }

// .verified-users p {
//   color: #383838;
// }


@media (min-width: 600px) {
  .home-title {
    margin: 4% 0 8%;
  }

  .admin-section {
    width: 50%;
    padding: 5% 10%;
    margin-bottom: 5%;
  }

  .main-section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  .idea-section, .project-section {
    width: 40%;
    padding: 6% 5%;
  }

  .idea-section {
    margin-right: 10%;
  }

}

//PROJECT AND IDEA LIST ------------

.main-wrapper {
  background-color: #fff;
}

.idea-list,
.project-list {
  text-align: center;
  margin-top: 0;
  padding-top: 3%;
}

.idea-list-layout,
.project-list-layout {
  padding-left: 0;
  list-style-type: none;
  width: 30%;
  margin: 0 auto 4%;
}

.idea-list-layout h3,
.idea-list-layout a,
.project-list-layout h3,
.project-list-layout a {
  text-align: center;
}
.create-project img,
.idea-list-layout img,
.project-list-layout img {
  object-fit: cover;
  background: 50% 50% no-repeat;
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
}

.idea-button > button,
.project-button > button {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.list-container {
  margin: auto;
  width: 90%;
}

.ideas {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  margin: 0;
}

.project-list-layout > div {
  flex: 1 1 200px;
}

.create-project {
  border: black solid 1px;
  width: 30%;
  height: 100px;
  height: 250px;
}

.h3-create-list {
  color: white;
}

@media (max-width: 600px) {
  .ideas {
    display: block;
    width: 90%;
  }
  .ideas > .project-list-layout,
  .ideas > .idea-list-layout {
    width: 80%;
  }
}

//-----------------ADMIN HOMEPAGE -------------------------

.admin-buttons-group {
  display: flex;
  flex-direction: column;
}

.admin-buttons-group a {
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.admin-buttons-group a > button {
  width: 60%;
  text-align: center;
  margin: 20% auto;
  font-size: 25px;
}


@media (min-width: 450px) {



  .admin-buttons-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .admin-buttons-group a {
    text-align: center;
    width: 50%;
    text-transform: uppercase;
  }

  .admin-buttons-group button {
    padding: 15% 10%;
  }
}


