// BLUE COLOUR #2d62d7;

/*Flash messages*/
[class$="-message"] {
  border: 3px solid;
  border-radius: 3px;
  padding: 10px;
}

.success-message {
  color: chartreuse;
}

.error-message {
  color: crimson;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

//------------------------------ LAYOUT ----------------------------
//MOBILE FIRST

//to add burger menu on nav bar for mobile

h1 {
  text-align: center;
}

//-----------------------------HOME PAGE -----------------------------

.home-buttons {
  text-align: center;
  margin-top: 30px;
  border: 2px black solid;
}

.home-button-text {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: blue;
}

//------------------------------ DESKTOP ----------------------------
//Additional css for desktop

@media (min-width: 450px) {
  //layout
  nav {
    background-color: #2d62d7;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a,
  nav b {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
}
