// BLUE COLOUR #2d62d7;

/*Flash messages*/
[class$="-message"] {
  border: 3px solid;
  border-radius: 3px;
  padding: 10px;
}

.success-message {
  color: chartreuse;
}

.error-message {
  color: crimson;
}

//----------------------GENERAL -------------------

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 25px;
  text-transform: uppercase;
}

h2  {
  font-size: 18px;
  text-transform: uppercase;
}

button {
  background-color: #2d62d7;
  border: 1px solid #2d62d7;
  color: white;
  font-weight: bold;
  padding: 4% 30%;
  border-radius: 5px;
}

// FOOTER -------------------
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2d62d7;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
