<h1 class="user-title">Admin management page</h1>


<div class="admin-buttons-group">

  <a href="/admin/verified-users"><button> Verified users</button></a>

  <a href="/admin/non-verified-users"><button > Non verified users</button></a>
</div>