<h1>SIGN UP</h1>


<form action="/process-signup" method="POST">

  <label>Full Name
    <input type="text" name="fullName" placeholder=" Your Name">
  </label>
  <br>

  <label>Email
    <input type="email" name="email" placeholder="Your email address">
  </label>
  <br>


  <label>Password
    <input type="password" name="userPassword" placeholder="yoursecret">
  </label>
  <br>

  <label>Image
    <input type="file" name="imageUpload">
  </label>
  <br>

  <label>About
    <input type="text" name="aboutUser" placeholder="tell us about you">
  </label>
  <br>

  <label>
    <select name="course">
      <option>Web Dev</option>
      <option>UX</option>
      <option>Teacher/TA</option>
      <option>Recruiter</option>
    </select>
  </label>
  <br>

  <label>Start Date
    <input type="text" name="startDate" placeholder="August 2018">
  </label>
  <br>

  <button>SUBMIT</button>

</form>